body {
  min-width: 320px;
}

.barbershop-candy {
  max-width: 545px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(231, 34, 79);
  background: repeating-linear-gradient(
    132deg,
    #e7224f,
    #e7224f 9px,
    white 9px,
    white 18px,
    #53a3d6 18px,
    #53a3d6 27px,
    white 27px,
    white 36px
  );
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 35px 20px;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.block--left,
.block--right {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.block--right {
  width: 55%;
}

input {
  color: #084f79;
  padding: 0;
  padding-bottom: 7px;
  border: none;
  border-bottom: 2px solid #dcdcdc;
  margin: 12px 0;
}

input::placeholder {
  color: #084f79;
}
input:focus {
  outline: none;
}

button {
  width: 80px;
  height: 25px;
  margin-top: 20px;
  color: white;
  border: none;
  background: rgb(231, 40, 84);
  background: -moz-linear-gradient(
    180deg,
    rgba(231, 40, 84, 1) 0%,
    rgba(203, 2, 48, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(231, 40, 84, 1) 0%,
    rgba(203, 2, 48, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(231, 40, 84, 1) 0%,
    rgba(203, 2, 48, 1) 100%
  );
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .group {
    flex-direction: column;
  }

  .block--left,
  .block--right {
    width: 100%;
  }
}
